## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Import the dependencies:
import gmaps
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import random
import requests
import time
import timeit
from citipy import citipy
from config import appid, g_key
from datetime import datetime
from scipy.stats import linregress

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
path = "/Users/diegoperezo97/Documents/Tecnológico de Monterrey – Data Analytics Boot Camp/world-weather-analysis/Module 6/Challenge 6/Vacation Search/WeatherPy_vacation.csv"
vacation_df = pd.read_csv(path)
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Manono,CD,71.01,broken clouds,-7.3000,27.4167,Hotel hewa bora
1,2,Punta Arenas,CL,53.71,few clouds,-53.1500,-70.9167,Hotel Hain
2,5,Busselton,AU,68.04,overcast clouds,-33.6500,115.3333,Observatory Guest House
3,6,Vaini,TO,73.56,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
4,7,Kapaa,US,67.12,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """ 
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} ºF</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_jp = vacation_df[vacation_df["Country"] == "JP"].sort_values(by="Lng", ascending=False)
vacation_jp

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
405,510,Nemuro,JP,21.90,few clouds,43.3236,145.5750,Hotel Nemuro Kaiyoutei
174,222,Miyako,JP,30.06,scattered clouds,39.6367,141.9525,Hotel Route Inn Miyako
456,575,Kamaishi,JP,30.87,overcast clouds,39.2667,141.8833,Hotel Route Inn Kamaishi
69,96,Hasaki,JP,27.00,overcast clouds,35.7333,140.8333,Hotel Sunrise Choshi
318,407,Naze,JP,56.46,overcast clouds,28.3667,129.4833,Shishime Hotel
366,459,Fukue,JP,46.11,broken clouds,32.6881,128.8419,Goto Guesthouse Utojuku & SA Car Rental
200,253,Nishihara,JP,69.08,scattered clouds,26.1842,127.7558,Minshuku Agaihama

In [6]:
vacation_start = vacation_df.loc[vacation_df["City_ID"] == 510]
vacation_end = vacation_df.loc[vacation_df["City_ID"] == 459]
vacation_stop1 = vacation_df.loc[vacation_df["City_ID"] == 222]
vacation_stop2 = vacation_df.loc[vacation_df["City_ID"] == 575]
vacation_stop3 = vacation_df.loc[vacation_df["City_ID"] == 96]

In [7]:
vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
366,459,Fukue,JP,46.11,broken clouds,32.6881,128.8419,Goto Guesthouse Utojuku & SA Car Rental

In [8]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_start.to_numpy()[0][5:7])
end = tuple(vacation_end.to_numpy()[0][5:7])
stop1 = tuple(vacation_stop1.to_numpy()[0][5:7])
stop2 = tuple(vacation_stop2.to_numpy()[0][5:7])
stop3 = tuple(vacation_stop3.to_numpy()[0][5:7])

In [9]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
waypoints = [stop1, stop2, stop3]
directions_layer = gmaps.directions_layer(start, end, waypoints=waypoints, travel_mode='DRIVING')

In [10]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,510,Nemuro,JP,21.90,few clouds,43.3236,145.5750,Hotel Nemuro Kaiyoutei
1,222,Miyako,JP,30.06,scattered clouds,39.6367,141.9525,Hotel Route Inn Miyako
2,575,Kamaishi,JP,30.87,overcast clouds,39.2667,141.8833,Hotel Route Inn Kamaishi
3,96,Hasaki,JP,27.00,overcast clouds,35.7333,140.8333,Hotel Sunrise Choshi
4,459,Fukue,JP,46.11,broken clouds,32.6881,128.8419,Goto Guesthouse Utojuku & SA Car Rental

In [11]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """ 
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} ºF</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig.add_layer(directions_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# 4a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))